@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet');

/* ========== Global ========== 
    --img-src-:;*/

:root{
    --Orange-Popcorn: #FFA726;
    --Bleu-Miuit: #1A237E;
    --Blanc-Casse: #FAFAFA;
    --Blanc-Casse-alt: #e1e7f9;
    --Gris-Fonce: #37474F;

    --Orange-Popcorn-hover: #df921f;
    --Bleu-Miuit-hover: #131a66;
    --Blanc-Casse-hover: #dedff2;
    --Gris-Fonce-hover: #233137;

    --typo-titre: 'Poppins';
    --typo-texte: 'Lato';

    --img-src-vieuxcine: "/assets/img/imagevieuxcineblanc.png";

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--typo-texte), sans-serif;
    background-color: var(--Blanc-Casse);
    color: var(--Gris-Fonce);
    line-height: 1.6;
}
/*wrapper*/

.wrapper{
     max-width: clamp(600px, 80vw, 1200px);   
    margin: 0 auto;   
}

/* ========== Header ========== */
header {
    background-color: var(--Blanc-Casse);
    color: var(--Bleu-Miuit);
    padding: 20px 0;
    border-radius: 8px;
    box-shadow: 0 10px 5px -5px rgba(0,0,0,0.5);
    
}


header .wrapper img{
    aspect-ratio: 4/2;
    object-fit: cover;
}

nav a {
    color: var(--Gris-Fonce);
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--Gris-Fonce-hover);
}

/* ========== Footer ========== */
footer {
    margin-top: 50px;
    text-align: center;
    color: var(--Gris-Fonce);
}

/* ========== Main content ========== */
h1{
    margin: 10px 0;
}
h2 {
    color: var(--Gris-Fonce);
    margin: 10px;
}
h3, h4{
    font: var(--typo-titre);
    font-size: 1.5em;
}

.bg-shadow-off{
    box-shadow: none;
}
li p.desc{
    padding: 10px;
    border-radius: 5px;
    background-color: var(--Blanc-Casse-alt);
}

p {
    margin-bottom: 10px;
}
div img{    
    aspect-ratio: 9/16;
    object-fit: cover;

}

ul li img{
    aspect-ratio: 9/16;
    object-fit: cover;
}
ul{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(
        min(20rem, 100%),
        1fr
    ));
}
ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 25px;   
    max-width: 350px; 
    margin: 25px;
}

ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
ul li a:hover{
    color: var(--Gris-Fonce);
}
.containterFlexRow{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.containterFlexCol{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.alignttextleft{
    text-align: left;
    margin: 50px;
}

.bigimg{    
    min-width: 450px;
    min-height: 600px;
}

.smallwhitebox{
    background-color: var(--Blanc-Casse);
    max-width: 500px;
    max-height: 400px;
    min-width: 500px;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}


.whitebox{
    background-color: var(--Blanc-Casse);
    max-width: 900px;
    max-height: 900px;
    min-width: 900px;
    min-height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.bgimgvieuxcine{
    
    width: 2000px;
    height: 1000px;
    background-image: url("../img/imagevieuxcineblanc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center; 
}


.bgimginterieurcine{
    
    width: 2000px;
    height: 1000px;
    background-image: url("../img/imageinterieurcine.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center; 
}
/* ========== Buttons ========== */

.btn1{
    background-color: var(--Bleu-Miuit);
    color: var(--Blanc-Casse);
    padding: 5px 8px;
    border-radius: 5px;
    margin: 10px;
}

.btn1:hover{
    background-color: var(--Bleu-Miuit-hover);
    color: var(--Blanc-Casse);
}


.btn2{
    background-color: var(--Orange-Popcorn);
    color: var(--Blanc-Casse);
    padding: 5px 8px;
    border-radius: 5px;
    margin: 10px;
}

.btn2:hover{
    background-color: var(--Orange-Popcorn-hover);
    color: var(--Blanc-Casse);
}

/* ========== Tables ========== */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: var(--Blanc-Casse-alt);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

th, td {
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: var(--Blanc-Casse);
    color: var(--Gris-Fonce);
}

tr:nth-child(even) {
    background-color: var(--Blanc-Casse);
}

tr:hover {
    background-color: var(--Blanc-Casse-hover);
}

/* ========== Forms ========== */
form {
    background: var(--Blanc-Casse);
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="text"],
form input[type="password"],
form input[type="number"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    transition: border 0.3s;
}

form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="number"]:focus,
form textarea:focus {
    border-color: var(--Orange-Popcorn);
    outline: none;
}

form button {
    background-color: var(--Orange-Popcorn);
    color: var(--Blanc-Casse);
    border: none;
    padding: 12px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: var(--Orange-Popcorn);
}

/* ========== Lists ========== */
ul {
    list-style: none;
    margin-bottom: 20px;
}

ul li {
    background: var(--Blanc-Casse);
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.05);
    transition: transform 0.2s;
}

ul li:hover {
    transform: translateY(-3px);
}

/* ========== Links ========== */
a {
    color: var(--Gris-Fonce);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: var(--Orange-Popcorn);
}

/* ========== Responsive ========== */

/*600px 601px 768px 992px 1200px*/
h2 {
    font-size: 2rem;
}
h3, h4{
    font-size: 2rem;
}

p, label{
    font-size: 1.5rem;
}
nav a{
    font-size: clamp(4rem, 6vw, 1rem);
    text-decoration: none;
}

form button{
    font-size: 2rem;
    padding: 20px 32px;
}


/*portrait*/
@media only screen and (max-width:600px) and (orientation: portrait){
/*fix font sizing*/


.btn1{
    font-size: 2rem;
    padding: 20px 32px;

}
.btn2{
    font-size: 2rem;
    padding: 20px 32px;

}
nav a{    
    text-decoration: underline;
    font-size: 3rem;
}

p.desc{
    max-width: 230px;
}


/*fix listes de films*/
ul{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
div.center{
    display: flex;
    align-items: center;
}
ul li{
    margin: 0;
}
/*fix forms*/

.bgimgvieuxcine{
    width: 600px;
    height: 1600px;
    background-image: none;
    display: flex;
    justify-content: center;
    align-items: center; 
}


.bgimginterieurcine{
    width: 600px;
    height: unset;
    background-image: none;
    display: flex;
    justify-content: center;
    align-items: center; 
}

div.whitebox{
    max-width: 600px;
}

.bigimg{    
    max-width: 300px;
    min-height: 500px;
}
.containterFlexRow{
    flex-direction: column;
}

div.note img {
    width: 50px !important;
    height: 50px !important;
}
}

@media only screen and (min-width:601px) and (orientation: portrait){
    /*fix font sizing*/

h2 {
    font-size: 2rem;
}
h3, h4{
    font-size: 2rem;
}

p, label{
    font-size: 1.5rem;
}
nav a{
    text-decoration: underline;
}

form button{
    font-size: 2rem;
    padding: 20px 32px;
}

.btn1{
    font-size: 2rem;
    padding: 20px 32px;

}
.btn2{
    font-size: 2rem;
    padding: 20px 32px;

}

p.desc{
    max-width: 230px;
}


/*fix listes de films*/
ul{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
div.center{
    display: flex;
    align-items: center;
}
ul li{
    margin: 0;
}
/*fix forms*/

.bgimgvieuxcine{
    width: 600px;
    height: 1600px;
    background-image: none;
    display: flex;
    justify-content: center;
    align-items: center; 
}


.bgimginterieurcine{
    width: 600px;
    height: unset;
    background-image: none;
    display: flex;
    justify-content: center;
    align-items: center; 
}

div.whitebox{
    max-width: 600px;
}

.bigimg{    
    max-width: 300px;
    min-height: 500px;
}
.containterFlexRow{
    flex-direction: column;
}

div.note img {
    width: 50px !important;
    height: 50px !important;
}

}
@media only screen and (min-width:768px) and (orientation: portrait){
/*fix font sizing*/

h2 {
    font-size: 4rem;
}
h3, h4{
    font-size: 4rem;
}

p, label{
    font-size: 3rem;
}
nav a{
    font-size: 3rem;
}

form button{
    font-size: 4rem;
    padding: 20px 32px;
}

.btn1{
    font-size: 4rem;
    padding: 20px 32px;

}
.btn2{
    font-size: 4rem;
    padding: 20px 32px;

}

p.desc{
    max-width: 230px;
}


/*fix listes de films*/
ul{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
div.center{
    display: flex;
    align-items: center;
}
ul li{
    margin: 0;
}
/*fix forms*/

.bgimgvieuxcine{
    width: 768px;
    height: 1600px;
    background-image: none;
    display: flex;
    justify-content: center;
    align-items: center; 
}


.bgimginterieurcine{
    width: 768px;
    height: unset;
    background-image: none;
    display: flex;
    justify-content: center;
    align-items: center; 
}

div.whitebox{
    max-width: 768px;
}


.containterFlexRow{
    flex-direction: column;
}

div.note img {
    aspect-ratio: 1/1;
}
}
@media only screen and (min-width:992px) and (orientation: portrait){
nav a{
    text-decoration: none;
}
}
@media only screen and (min-width:1200px) and (orientation: portrait){

}



/*landscape*/
@media only screen and (min-width:1200px) and (orientation: landscape){

}
@media only screen and (min-width:992px) and (orientation: landscape){
nav a{
    text-decoration: none;
}
}
@media only screen and (min-width:768px) and (orientation: landscape){

}
@media only screen and (min-width:601px) and (orientation: landscape){

}
@media only screen and (max-width:600px) and (orientation: landscape){

}
